<!DOCTYPE html>
<html>
  <head>
    <title>Pathfinder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/stylesheet.css" rel="stylesheet"/>
  </head>
  <body ng-app="Pathfinder" ng-controller="pathfinderController">
    <div class="container">
      <h1>Pathfinder</h1>
      <p class="lead">A Javascript A* Algorithm Implementation</p>
      <div class="table-responsive">
        <table class="table table-bordered" ng-init="initGrid()">
          <tr ng-repeat="row in grid">
            <td ng-repeat="cell in row" ng-class="{ 'wall': cell.isWall, 'goal': cell.isGoal, 'start': cell.isStart }" ng-click="onCellClicked(cell.row, cell.col, $event)">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
  