body {
  font-family: sans-serif;
}

.square {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.square.open {
  background: lightgrey;
}

.square.wall {
  background: black;
}

.square.goal {
  background-color: red;
}